package main

import (
	{{- if not .BinPath }}
	"encoding/binary"
	{{ end }}
	pwn "github.com/Jacute/gowntools"
	"github.com/Jacute/gowntools/binutils"
	"github.com/Jacute/gowntools/payload"
)
{{ if .BinPath }}
const binpath string = "{{.BinPath}}"
{{ end }}
func main() {
{{- if .IsRemote }}
	c := pwn.NewTCP("{{.Host}}:{{.Port}}")
	defer c.Close()
{{- else }}
	c := pwn.NewBinary(binpath)
	defer c.Close()
{{- end }}
{{- if .BinPath }}
	bin, err := binutils.AnalyzeBinary(binpath)
	if err != nil {
		panic(err)
	}
	binInfo := bin.Info()

	exploit(c, binInfo)
{{ else }}
	exploit(c)
{{ end }}
	c.Interactive()
}
{{ if not .BinPath }}
func exploit(c pwn.Client) {
	pb := payload.NewBuilder(binutils.ArchAmd64, binary.LittleEndian)
{{- else }}
func exploit(c pwn.Client, binInfo *binutils.BinaryInfo) {
	pb := payload.NewBuilder(binInfo.Arch, binInfo.ByteOrder)
{{- end }}
	payload := genPayload(pb)

	// exploit should be here

	// uncomment this for debug with gdb
	// pwn.Debug(bin)

	err := c.WriteLine(payload)
	if err != nil {
		panic(err)
	}
}

func genPayload(b *payload.Builder) []byte {
	// payload should be here
	// b.Fill('A', 72)
	// b.Addr(0xdeadbeefcafebabe)
	return b.Build()
}
